{% load static %}
<!--First Page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>

    </style>

    <!-- Title -->
    <title>Survey</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta content="Admin Dashboard Template" name="description"/>
    <meta content="admin,dashboard" name="keywords"/>
    <meta content="stacks" name="author"/>

    <!-- Styles -->
    <link href="{% static 'assets/plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/uniform/css/default.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Theme Styles -->
    <link href="{% static 'assets/css/meteor.min.css' %}" rel="stylesheet" type="text/css"/>
    <link class="theme-color" href="{% static 'assets/css/layers/dark-layer.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    <script src="{% static 'assets/plugins/3d-bold-navigation/js/modernizr.js' %}"></script>
    <script src="{% static 'assets/plugins/offcanvasmenueffects/js/snap.svg-min.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="compact-menu">
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a class="waves-effect waves-button push-sidebar" href="javascript:void(0);">
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
            <div class="logo-box">
                <a href={% url 'index' %} class="logo-text"><span>SURVEY MS</span></a>
            </div>

            <div class="topmenu-outer">
                <div class="top-menu">

                    <!-- Nav -->
                </div><!-- Top Menu -->
            </div>
        </div>
    </div><!-- Navbar -->
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <ul class="menu accordion-menu">
                <li><a href={% url 'index' %} class="waves-effect waves-button"><span class="menu-icon icon-user"></span><p>Dashboard</p></a></li>
                <li><a href={% url 'home' %} class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>Add Survey</p></a></li>
                <li><a href={% url 'show' %} class="waves-effect waves-button"><span class="menu-icon icon-user"></span><p>Show Survey</p></a></li>
<!--                <li><a href={% url 'pie_chart' %} class="waves-effect waves-button"><span class="menu-icon icon-user"></span><p>Pie Chart</p></a></li>-->
            </ul>
        </div><!-- Page Sidebar Inner -->
    </div><!-- Page Sidebar -->
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">Dashboard | Admin</h3>
            <div class="page-breadcrumb">
                <ol class="breadcrumb breadcrumb-with-header">
                    <li><a href={% url 'index' %}>SURVEY</a></li>
                    <li><a href="#">Dashboard</a></li>
                </ol>
            </div>
        </div>

<!-- Page Content Starts -->

        <div class="col-md-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <h2 class="panel-title">Total no. Of Survey</h2>
                </div>
                <div class="panel-body">
                    <h1>{{ count }}</h1>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">No of Male</h3>
                </div>
                <div class="panel-body">
                    <h1>{{ count_male }}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title">No of Female</h3>
                </div>
                <div class="panel-body">
                    <h1>{{ count_female }}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">No of Married People</h3>
                </div>
                <div class="panel-body">
                    <h1>{{ count_married }}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title">No of Vegetarians</h3>
                </div>
                <div class="panel-body">
                    <h1>{{ count_veg }}</h1>
                </div>
            </div>
        </div>

         <div class="col-md-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h2 class="panel-title">No of people eating Rice</h2>
                </div>
                <div class="panel-body">
                    <h1>{{ count_rice }}</h1>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <h3 class="panel-title">No of people eating Wheat</h3>
                </div>
                <div class="panel-body">
                    <h1>{{ count_wheat }}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">No of people eating Jower</h3>
                </div>
                <div class="panel-body">
                    <h1>{{ count_jower }}</h1>
                </div>
            </div>
        </div>








    <center> {{ msg }}</center>

<!-- Page Content Ends -->

    </div><!-- Row -->
    </div><!-- Main Wrapper -->
    <div class="page-footer">

    </div>
    </div><!-- Page Inner -->
</main><!-- Page Content -->

<div class="cd-overlay"></div>


<!-- Javascripts -->
<script src="{% static 'assets/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/plugins/pace-master/pace.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/switchery/switchery.min.js' %}"></script>
<script src="{% static 'assets/plugins/uniform/js/jquery.uniform.standalone.js' %}"></script>
<script src="{% static 'assets/plugins/offcanvasmenueffects/js/classie.js' %}"></script>
<script src="{% static 'assets/plugins/waves/waves.min.js' %}"></script>
<script src="{% static 'assets/plugins/3d-bold-navigation/js/main.js' %} "></script>
<script src="{% static 'assets/js/meteor.min.js' %}"></script>

</body>
</html>
