{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        form{
            max-width: 900px;
            display: block;
            margin: 0 auto;
        }
        .table-light{
           margin: auto;
           border: 2px solid grey;
           text-align: center;
           color: black;

        }
        .table-responsive-lg{
            margin-left:-60px;
            padding-right: 30px;
        }
        .body{
            font-size:15px;
        }


    </style>

    <!-- Title -->
    <title>Survey</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta content="Admin Dashboard Template" name="description"/>
    <meta content="admin,dashboard" name="keywords"/>
    <meta content="stacks" name="author"/>

    <!-- Styles -->
    <link href="{% static 'assets/plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/uniform/css/default.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Theme Styles -->
    <link href="{% static 'assets/css/meteor.min.css' %}" rel="stylesheet" type="text/css"/>
    <link class="theme-color" href="{% static 'assets/css/layers/dark-layer.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    <script src="{% static 'assets/plugins/3d-bold-navigation/js/modernizr.js' %}"></script>
    <script src="{% static 'assets/plugins/offcanvasmenueffects/js/snap.svg-min.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="compact-menu">
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a class="waves-effect waves-button push-sidebar" href="javascript:void(0);">
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
            <div class="logo-box">
                <a href={% url 'index' %} class="logo-text"><span>SURVEY MS</span></a>
            </div><!-- Logo Box -->
            <div class="topmenu-outer">
                <div class="top-menu">

                    <!-- Nav -->
                </div><!-- Top Menu -->
            </div>
        </div>
    </div><!-- Navbar -->
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <ul class="menu accordion-menu">
                <li><a href={% url 'index' %} class="waves-effect waves-button"><span class="menu-icon icon-user"></span><p>Dashboard</p></a></li>
                <li><a href={% url 'home' %} class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>Add Survey</p></a></li>
                <li><a href={% url 'show' %} class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>Show Survey</p></a></li>

            </ul>
        </div><!-- Page Sidebar Inner -->
    </div><!-- Page Sidebar -->
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">Dashboard | Survey</h3>
            <div class="page-breadcrumb">
                <ol class="breadcrumb breadcrumb-with-header">
                    <li><a href={% url 'index' %}>SURVEY</a></li>
                    <li><a href="#">Dashboard</a></li>

                </ol>
            </div>
        </div>

<!-- Page Content Starts -->

        <center><h3><strong>Survey Details</strong></h3></center>
        <div class="container">
            <form action="" method="post" name="frm" role="form">
                {% csrf_token %}
                <div class="table-responsive-lg">
                    <table class="table table-hover table-sm">
                        <thead class="table-light">
                        <tr class="table-light">
                            <th class="table-light">Name</th>
                            <th class="table-light">Age</th>
                            <th class="table-light">Gender</th>
                            <th class="table-light">Pregnancy Status</th>
                            <th class="table-light">Marital status</th>
                            <th class="table-light">Diet Preference</th>
                            <th class="table-light">Preferred Food</th>
                             <th class="table-light">Rating</th>

                        </tr>
                        </thead>
                        {% for cm_l in user_list %}
                        <tbody>
                        <tr class="table-light">
                            <td class="table-light">{{ cm_l.name }}</td>
                            <td class="table-light">{{ cm_l.age }}</td>
                            <td class="table-light">{% if cm_l.gender == 'Male' %}
                                Male
                                {% elif cm_l.gender == 'Female' %}
                                Female
                                {% elif cm_l.gender == 'Other' %}
                                Other
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            <td class="table-light">
                                {% if cm_l.pregnancy == 'Pregnant' %}
                                Pregnant
                                {% elif cm_l.pregnancy == 'Not Pregnant' %}
                                Not Pregnant
                                {% else %}
                                -
                                {% endif %}

                            </td>
                            <td class="table-light">{{ cm_l.marital}}</td>
                            <td class="table-light">{{ cm_l.diet}}</td>
                            <td class="table-light">{{ cm_l.ratefollow}}</td>
                            <td class="table-light">
                                {% if cm_l.rate == '1' %}
                                Poor
                                {% elif cm_l.rate == '2' %}
                                Fair
                                {% elif cm_l.rate == '3' %}
                                Good
                                {% elif cm_l.rate == '4' %}
                                Very Good
                                {% elif cm_l.rate == '5' %}
                                Excellent
                                {% else %}
                                -
                                {% endif %}</td>

                        </tr>
                        <tbody>
                        {% endfor %}
                    </table>
                </div>

            </form>
        </div>
        <b>{{msg}}</b>

<!-- Page Content Ends -->

    </div><!-- Row -->
    </div><!-- Main Wrapper -->
    <div class="page-footer">
    </div>
    </div><!-- Page Inner -->
</main><!-- Page Content -->
<div class="cd-overlay"></div>


<!-- Javascripts -->
<script src="{% static 'assets/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/plugins/pace-master/pace.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/switchery/switchery.min.js' %}"></script>
<script src="{% static 'assets/plugins/uniform/js/jquery.uniform.standalone.js' %}"></script>
<script src="{% static 'assets/plugins/offcanvasmenueffects/js/classie.js' %}"></script>
<script src="{% static 'assets/plugins/waves/waves.min.js' %}"></script>
<script src="{% static 'assets/plugins/3d-bold-navigation/js/main.js' %} "></script>
<script src="{% static 'assets/js/meteor.min.js' %}"></script>

</body>
</html>
